<div class="footer-social-links">
  <a href="https://my.linkedin.com/in/marcostakeshi/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="https://twitter.com/takeshi_marcos" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
  <a href="https://github.com/mtakeshi" title="GitHub Repositories" target="_blank"><i class="fa fa-github-alt"></i></a>
  <a href="https://www.youtube.com/channel/UC2hyeIzWRk1TK9p6aYZ2Jvg" title="Youtube" target="_blank"><i class="fa fa-youtube"></i></a>
  <a href="https://www.facebook.com/marcos.takeshi" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="https://www.instagram.com/marcos_takeshi/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
  <a href="https://br.pinterest.com/takeshi_marcos/" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
</div>
